.UpperContainer {
    position: relative;
}

.MainTitleNote {
    position: absolute;
    top: -5px;
    left: 50px;
    translate: 0% -0%;
    font-size: 24px;
    color: #000000;
    font-family: Arial;
    font-size: 23px;
    animation-name: MainTextOpening;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
}

.tab1 {
    margin: auto;
    position: absolute;
    top: 0px;
    left: 190px;
    font-size: 24px;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    background-color: lightgoldenrodyellow;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation-name: TabOpening;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
}

.ThemeTab {
    margin: auto;
    position: absolute;
    top: 0px;
    left: 550px;
    font-size: 24px;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    background-color: lightgoldenrodyellow;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
}

.ThemeButton {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 67, 0);
    background-color: rgb(253, 237, 143);
    right: 0px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    animation-name: TabOpening;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.removebutton1 {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 67, 0);
    background-color: rgb(253, 237, 143);
    top: 7px;
    right: 15px;
    position: absolute;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

/* Animations: */

@keyframes TabOpening {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes MainTextOpening {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: -5px;
    }
}

