/* Main Frame of the Note Tab lists */

.MainNoteCreationGUI {
    display: grid;
    overflow-y: auto;
    overflow-anchor:auto;
    position: absolute;
    min-height: 60px;
    max-height: 340px;
    width: 98%;
    top: 60px;
    left: 0%;
    background-color: rgb(46, 123, 190, 0);
    grid-template-columns: repeat( 1, 370px);
    grid-template-rows: repeat(infinite, 0);
    row-gap: 10px;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: grid-template-columns 0.5s ease-in-out, grid-template-rows 0.5s ease-in-out;
    scale: 1;
}

.MainNoteOrganizedLists {
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor:auto;
    position: absolute;
    height: 335px;
    padding-top: 5px;
    width: 98%;
    top: 60px;
    left: 0%;
    background-color: rgb(46, 123, 190, 0);
    grid-template-columns: repeat( 1, 370px);
    grid-template-rows: repeat(infinite, 0);
    row-gap: 10px;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: grid-template-columns 0.5s ease-in-out, grid-template-rows 0.5s ease-in-out;
    scale: 0;
}

.UncategorizedList {
    position: fixed;
    left: 10px;
    min-height: 70px;
    max-height: 600px;
}

.NoteTab {
    position: flex;
    width: 360px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border:2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 800;
}


.NoteTabNamee {
    text-align: left;
    position: fixed;
    left: 20px;
    top: -2px;
    font-family: Arial;
    font-size: 20px;
    width: 100%;
}

.NoteTabContent {
    position: fixed;
    text-align: left;
    font-size: 15px;
    top: 25px;
    background-color: rgb(0, 136, 255, 0);
    width: 90%;
    left: 25px;
    height: 60%;
    
}

.NoteTabDeleteButton {
    position: fixed;
    width: 100px;
    height: 35px;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.NoteTabOpenButton {
    position: fixed;
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    bottom: 10px;
    right: 115px;
    box-shadow: 0 0 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.NoteTabDeleteButton:hover, .NoteTabOpenButton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MainNoteName1 {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}



@media (max-width: 600px) {
    .MainNoteCreationframeUncategorized {
        min-height: none;
        max-height: 100%;
        width: 100%;
        top: 65px;
        left: 0%;
        background-color: rgb(46, 123, 190, 0);
        transition: grid-template-columns 0.5s ease-in-out, grid-template-rows 0.5s ease-in-out;
        scale: 0;
    }
    .MainNoteOrganizedLists {
        display: grid;
        overflow-y: auto;
        overflow-x: hidden;
        overflow-anchor:auto;
        position: absolute;
        height: 335px;
        padding-top: 5px;
        width: 98%;
        top: 60px;
        left: 0%;
        background-color: rgb(46, 123, 190, 0);
        grid-template-columns: repeat( 1, 370px);
        grid-template-rows: repeat(infinite, 0);
        row-gap: 10px;
        justify-content: center;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: grid-template-columns 0.5s ease-in-out, grid-template-rows 0.5s ease-in-out;
        scale: 0;
    }

    .UncategorizedList {
        position: fixed;
        left: 5%;
        min-height: 70px;
        max-height: 600px;
        width: 90%;
    }
    .NoteTab {
        position: flex;
        width: 100%;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border:2px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        z-index: 800;
    }

    .NoteTab:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .NoteTabNamee {
        text-align: left;
        position: fixed;
        left: 20px;
        top: -2px;
        font-family: Arial;
        font-size: 20px;
        width: 100%;
    }

    .NoteTabContent {
        position: fixed;
        top: 25px;
        text-align: left;
        font-size: 15px;
        background-color: rgb(0, 136, 255, 0);
        width: 90%;
        left: 25px;
        height: 60%;
        overflow: hidden;
        
    }

    .NoteTabDeleteButton {
        position: fixed;
        width: 100px;
        height: 35px;
        background-color: rgb(255, 0, 0);
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        bottom: 10px;
        right: 10px;
        box-shadow: 0 0 0;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .NoteTabOpenButton {
        position: fixed;
        width: 100px;
        height: 35px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        bottom: 10px;
        right: 115px;
        box-shadow: 0 0 0;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

/* For main lists of note tabs */
.OrganizedWindows {
    display: grid;
    overflow-y: auto;
    overflow-anchor:auto;
    position: absolute;
    min-height: 70px;
    max-height: 340px;
    width: 98%;
    top: 60px;
    left: 0%;
    background-color: rgb(46, 123, 190, 0);
    grid-template-columns: repeat( 1, 370px);
    grid-template-rows: repeat(infinite, 10px);
    row-gap: 10px;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: grid-template-columns 0.5s ease-in-out, grid-template-rows 0.5s ease-in-out;
    scale: 1;
}

.OrganizedList {
    position: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(192, 255, 134, 0.5);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border:2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: all 0.2s ease-in-out;
}

.OrganizedList:hover {
    background-color: rgba(192, 255, 134, 1);
}

/*For OrganizedList Creation Window*/
.NewOrganizedList {
    position: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(192, 255, 134, 0.5);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border:2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: all 0.2s ease-in-out;
}