.MainNoteOrganizedTabs {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 75px;
    right: 35px;
    background-color: var(--bg-primary);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.05);
    opacity: 0;
    backdrop-filter: blur(20px);

}

.OpenOrganizedWindowText{
    position: absolute;
    width: 300px;
    top: 5px;
    left: 15px;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    color: var(--text-primary);
}

.CreateOrganizedTab {
    position: absolute;
    top: 8px;
    right: 60px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    background-color: var(--bg-third);
    transition: all 0.3s ease-out;
}

.ExitOrganizedWindow {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 2px none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: var(--bg-third);
    font-weight: bold;
    font-family: sans-serif;
    transition: all 0.3s ease-out;
    
}

.CreateOrganizedTab:hover, .ExitOrganizedWindow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    scale: 1.03;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.OrganizeIconIMG{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 10px; 
}

@media(max-width: 600px) {
    .MainNoteOrganizedTabs {
        position: fixed;
        width: 100%;
        height: 98%;
        top: 69px;
        right: 0%;
        background-color: var(--bg-primary);
        border: none;
        border-radius: 0px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        z-index: 11;
        transition: all 0.3s ease-out;
    }
}

/* FOR MAIN CREATION SETUP */
.OrganizedListCreationWindow {
    position: fixed;
    width: 350px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 40%;
    left: 50%;
    translate: -50% -20%;
    z-index: 800;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    opacity: 0;
    scale: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.OrganizedListCreationH1 {
    position: absolute;
    font-size: 18px;
    color: var(--text-primary);
    bottom: 35%;
    left: 24%;
    font-family: Arial;
}

.OrganizedListCreationInput {
    position: absolute;
    width: 85%;
    height: 25px;
    bottom: 60px;
    left: 6%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


.OrganizedListCreationButton {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 150px;
    height: 35px;
    background-color: var(--bg-third);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.OrganizedListCreationCancelButton {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 150px;
    height: 35px;
    background-color: var(--bg-primary);
    border: 2px solid var(--bg-secondary);
    color: var(--text-primary);
    border-radius: 15px;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.OrganizedListCreationButton:hover, .OrganizedListCreationCancelButton:hover, .OrganizedListCreationInput:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    scale: 1.03;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


.CreateListIMGPreview1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 36%;
    opacity: 0;
    z-index: 2;
}

.CreateListIMGPreview2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 36%;
    border-radius: 20px;
    z-index: 1;
}

.AniamtionExecuteIMGPreview1 {
    animation-name: CreateListIMGPreview1Animation;
    animation-duration: 0.7s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.AniamtionExecuteIMGPreview2 {
    animation-name: CreateListIMGPreview2Animation;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
}


@keyframes CreateListIMGPreview2Animation {
    0% {
        scale: 0.5;
        opacity: 0;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    30% {
        scale: 1;
        opacity: 1;
    }
    50% {
        scale: 1;
        transform: translateY(0px);
    }
    60% {
        scale: 0.6;
        transform: translateY(-50px);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    80% {
        scale: 0.6;
        transform: translateY(-10px);
    }
    100% {
        scale: 0.6;
        transform: translateY(-10px);
    }
}

@keyframes CreateListIMGPreview1Animation {
    0% {
        transform: translateY(50px);
        opacity: 0;
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

/*For OrganizedList Notes*/
.NewOrganizedList {
    position: flex;
    width: 100%;
    height: 50px;
    background-color: var(--bg-third);
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border:2px solid rgba(0, 0, 0, 0.5);
    color: var(--text-primary);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: all 0.2s ease-in-out;
}

.NewOrganizedList:hover {
    scale: 1.01;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.NewOrganizedRemove {
    position: absolute;
    right: 5px;
    width: 100px;
    height: 35px;
    top: 7px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: var(--bg-secondary);
    font-family: Arial;
    font-weight: bold;
}

/*For Main Categorized/Uncategorized Lists */
.GObackList {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 140px;
    height: 40px;
    background-color: var(--bg-secondary);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(131, 131, 131, 0.5);
    color: var(--text-primary);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    visibility: hidden;
}

@media (max-width: 600px) {
    .GObackList {
    position: absolute;
    bottom: 60px;
    right: 10px;
    width: 140px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}
}