.UserProfileWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.UserProfileIcon {
    position: fixed;
    top: 20px;
    left: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.User {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #222;
    position: fixed;
    top: 20px;
    left: 120px;
}

.UserProfileEmail {
    position: absolute;
    top: 47px;
    translate: -270px;
}

.UserProfileStats {
    position: absolute;
    top: 35%;
    left: 8%;
    width: 80%;
}

.UserProfileDeleteButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}