.AboutWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 600px;
    height: 400px;
    background-color: var(--bg-primary);
    border: 2px solid rgba(209, 209, 209, 0.7);
    border-radius: 13px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: none;
    scale: 0.8;
}

.AboutWindow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 13px;
    /* --- PARENT FILTER --- */
    backdrop-filter: blur(50px);
    z-index: -1; /* Puts the pseudo-element behind the main content (including the button) */
}


.AboutWindow1 {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 360px;
    background-color: none;
    overflow-y: scroll;
}

.AboutWindow1::-webkit-scrollbar {
    width: 10px;
}

.AboutWindow1::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.AboutWindow1::-webkit-scrollbar-thumb {
    background: rgba(158, 158, 158, 0.3);
    border-radius: 10px;
}

.NoteIcon {
    position: fixed;
    top: 15px;
    left: 40px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.AboutWindowH1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: var(--text-primary);
    position: fixed;
    top: 0px;
    left: 110px;
}

.AboutWindowP1 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    position: absolute;
    left: 40px;
    text-align: justify;
    line-height: 25px;
}

.AboutWindowsP2 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    position: absolute;
    top: 300px;
    left: 40px;
    text-align: justify;
    line-height: 25px;
}

.AboutWindowCloseButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 7px 30px;
    font-size: 16px;
    background-color: var(--bg-secondary);
    border: 1.5px solid rgba(95, 95, 95, 0.4);
    color: var(--text-primary);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    backdrop-filter: grayscale(100%);
    backdrop-filter: blur(2px) brightness(1.1);
}



.AboutWindowCloseButton:hover {
    scale: 1.05;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 123, 123, 0.5);
}

.MainTitlesA1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: var(--text-primary);
    position: absolute;
    top: 260px;
    left: 40px;
}

@media(max-width: 700px) {
    .AboutWindow {
        width: 80%;
        height: 70%;
        top: 52%;
    }

    .AboutWindow1 {
        height: 85%;
    }
    
    .MainTitlesA1 {
        top: 340px;
    }
    .AboutWindowsP2 {
        top: 385px;
    }
    
}

@media(max-width: 500px) {
    .AboutWindow {
        width: 85%;
        height: 70%;
        top: 52%;
    }

    .AboutWindow1 {
        height: 85%;
    }
    
    .MainTitlesA1 {
        top: 345px;
    }
    .AboutWindowsP2 {
        top: 380px;
    }
    
}

@media(max-width: 450px) {
    .AboutWindow {
        width: 85%;
        height: 70%;
        top: 52%;
    }

    .AboutWindow1 {
        height: 85%;
    }
    
    .MainTitlesA1 {
        top: 425px;
    }
    .AboutWindowsP2 {
        top: 480px;
    }
    
}

@media (max-width: 400px) {
    .AboutWindow {
        width: 80%;
    }
    .AboutWindowH1 {
        top: 7px;
        font-size: 25px;
    }
}
