.NoteCreationWindowSetup {
    position: fixed;
    width: 500px;
    min-height: 225px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--bg-primary);
    backdrop-filter: blur(25px);
    z-index: 300;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    scale: 0.7;
    opacity: 0;
    transition: all 0.5s ease-out;
    filter: blur(5px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.NoteNameCreationSetup1A {
    position: fixed;
    width: 550px;
    height: 300px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
}


.NoteInputSaveData {
    position: absolute;
    width: 68%;
    height: 35px;
    top: 80px;
    right: 0;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1000;
    margin-top: auto;
    transition: all 0.3s ease-out;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--bg-secondary);
    color: rgba(216, 216, 216, 0.3);
    padding: 0 10px;
    box-sizing: border-box;
}

.NoteInputSaveData::placeholder {
    color: var(--text-secondary);
}

.NoteInputSaveData:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.NoteCreationSetupButton1 {
    background-color: var(--bg-third);
    position: absolute;
    width: 150px;
    height: 37px;
    bottom: -50px;
    right: 160px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.NoteInputHeading1 {
    position: absolute;
    right: 50px;
    font-family: Arial;
}

.NoteCreationSetupButton2 {
    background-color: var(--bg-secondary);
    position: absolute;
    bottom: -50px;
    width: 125px;
    height: 37px;
    right: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.3s ease-out;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.NoteCreationSetupButton1:hover, .NoteCreationSetupButton2:hover {
    scale: 1.05;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.NoteIconPreviewCreationNote {
    position: relative;
    width: 125px;
    height: 125px;
    top: 50%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--bg-third);
    flex-shrink: 0;
}

.animateFUNCTIONPreview1 {
    animation-name: NoteIconPreviewAnimationGoUP;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.100, 0.82, 0.110, 1.0);
    animation-fill-mode: forwards;
}

.TagsFadingoutAnimation {
    animation-name: TagsFadingoutAnimation;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.TagsFadingINAnimation {
    animation-name: TagsFadingINAnimation;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes NoteIconPreviewAnimationGoUP {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes TagsFadingoutAnimation {
    0% {
        opacity: 1;
        filter: blur(0px);
        scale: 1.0;
    }

    100% {
        opacity: 0;
        filter: blur(20px);
        scale: 0.7;
    }
}

@keyframes TagsFadingINAnimation {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes spinning {
    0% {
        transform: rotateX('0');
    }

    100% {
        transform: rotate(360deg)
    }
}


.noteCreationWindowSetup1 {
    opacity: 1;
    z-index: 1;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.NoteCreationTopRow {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.NoteCreationButtonsContainer {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

/* Creating Window Tags CSS */
.NoteCreatingQuene {
    position: fixed;
    width: 450px;
    height: 320px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    scale: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.LoadingIconPreview {
    position: fixed;
    top: 13%;
    left: 30%;
    width: 175px;
    height: 175px;
    scale: 1.6;
    border: none;
    border-radius: 25%;
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.infoCreationSetupH1 {
    position: fixed;
    bottom: 10px;
    text-align: center;
    justify-content: center;
    width: 450px;
    font-family: Arial;
    font-size: 30px;
}

@media (max-width: 625px) {
    .NoteCreationWindowSetup {
        position: fixed;
        width: 350px;
        scale: 0.9;
        height: 450px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        backdrop-filter: blur(25px);
        z-index: 300;
        border: 2px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        scale: 1.0;
        opacity: 0;
        transition: all 0.5s ease-out;
        filter: blur(5px);
    }

    .NoteInputHeading1 {
        position: absolute;
        top: 160px;
        text-align: center;
        right: 2%;
        width: 100%;
    }

    .NoteCreationSetupButton1 {
        position: fixed;
        width: 90%;
        height: 40px;
        left: 5%;
        bottom: 70px;
        border: none;
        border-radius: 15px;
        font-size: 15px;
        font-weight: bold;
        transition: all 0.3s ease-out;
    }

    .NoteCreationSetupButton2 {
        position: fixed;
        width: 90%;
        height: 40px;
        left: 5%;
        bottom: 20px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: all 0.3s ease-out;
        font-size: 15px;
        font-weight: bold;
    }

    .NoteIconPreviewCreationNote {
        position: absolute;
        top: 10px;
        left: 27%;
        width: 150px;
        height: 150px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(243, 219, 1);
        flex-shrink: 0;
    }
    .NoteInputSaveData {
        position: absolute;
        width: 90%;
        left: 5%;
        height: 40px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        bottom: 125px;
        z-index: 1000;
        margin-top: auto;
        transition: all 0.3s ease-out;
        font-size: 16px;
        font-weight: bold;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .NoteCreationTopRow {
        flex-direction: column;
        align-items: center;
    }
    .NoteCreationButtonsContainer {
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }
}
