.NoteCreationWindowSetup {
    position: fixed;
    min-width: 700px;
    max-width: 800px;
    min-height: 200px;
    max-height: 300px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgb(245, 245, 220);
    z-index: 300;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.NoteNameCreationSetup1A {
    position: fixed;
    width: 550px;
    height: 300px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
}

.NoteInputHeading1 {
    position: relative;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    left: 200px;
    top: 10px;
}

.NoteInputSaveData {
    position: relative;
    width: 65%;
    height: 25px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1000;
    left: 200px;
    top: 10px;
    transition: all 0.3s ease-out;
}

.NoteInputSaveData:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.NoteCreationSetupButton1 {
    background-color: white;
    position: fixed;
    width: 150px;
    height: 30px;
    left: 400px;
    bottom: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.NoteCreationSetupButton2 {
    background-color: white;
    position: fixed;
    width: 100px;
    height: 30px;
    right: 40px;
    bottom: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.NoteCreationSetupButton1:hover, .NoteCreationSetupButton2:hover {
    scale: 1.05;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.NoteIconPreviewCreationNote {
    position: fixed;
    top: 18%;
    left: 30px;
    width: 125px;
    height: 125px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(243, 243, 1);
}